#EXTM3U
#EXTINF:-1,### Fårøk Wlįd Dzärgâ ###

#EXTINF:-1,VIP AR: BEIN SPORT 1HD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/3.ts
#EXTINF:-1,VIP AR: BEIN SPORT 2HD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/2.ts
#EXTINF:-1,VIP AR: BEIN SPORT 3HD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/1.ts
#EXTINF:-1,VIP AR: Bein Sport HD4
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/9.ts
#EXTINF:-1,VIP AR: Bein Sport HD5
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/8.ts
#EXTINF:-1,VIP AR: Bein Sport HD6
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/7.ts
#EXTINF:-1,VIP AR: Bein Sport HD7
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/6.ts
#EXTINF:-1,VIP AR: Bein Sport HD8
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/5.ts
#EXTINF:-1,VIP AR: Bein Sport HD9
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/4.ts
#EXTINF:-1,BEIN SPORTS 10 HD HD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/10.ts
#EXTINF:-1,BEINSPORT-1 SD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/13.ts
#EXTINF:-1,BEINSPORT-2 SD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/12.ts
#EXTINF:-1,BEINSPORT-3 SD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/11.ts
#EXTINF:-1,BEINSPORTS 4SD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/19.ts
#EXTINF:-1,BeinSport-5 SD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/18.ts
#EXTINF:-1,BeinSport-6 SD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/17.ts
#EXTINF:-1,BeinSport-7 SD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/16.ts
#EXTINF:-1,BeinSport-8 SD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/15.ts
#EXTINF:-1,BEINSPORT  9 SD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/14.ts
#EXTINF:-1,BeinSports 1 LOW
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/22.ts
#EXTINF:-1,BeinSports 2 LOW
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/21.ts
#EXTINF:-1,BeinSports 3 LOW
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/20.ts
#EXTINF:-1,AR:BEIN_SPORTS 4 Low
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/25.ts
#EXTINF:-1,AR:BEINSPORTS 5 Low
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/24.ts
#EXTINF:-1,AR:BEIN_SPORTS_6Low
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/28.ts
#EXTINF:-1,AR:BEINSPORTS 7 Low
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/23.ts
#EXTINF:-1,AR:BEIN_SPORTS_8Low
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/27.ts
#EXTINF:-1,AR:BEIN_SPORTS_9Low
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/29.ts
#EXTINF:-1,AR:BEIN_SPORTS_10Low
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/26.ts
#EXTINF:-1,BEIN MOVIES 1
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/111.ts
#EXTINF:-1,BEIN MOVIES 2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/112.ts
#EXTINF:-1,BEIN MOVIES 3
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/113.ts
#EXTINF:-1,BEIN MOVIES 4
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/114.ts
#EXTINF:-1,beIN: Fox Movie HD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/121.ts
#EXTINF:-1,BeIN: AMC
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/119.ts
#EXTINF:-1,-----  Ar : OSN -----
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/106.ts
#EXTINF:-1,osn_-Nat-Geo-Peopel-HD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/124.ts
#EXTINF:-1,osn_ Yahala HD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/122.ts
#EXTINF:-1,osn_ Yahala Cinema
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/123.ts
#EXTINF:-1,osn_ Sport4
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/128.ts
#EXTINF:-1,osn_ MOVIES DRAMA HD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/130.ts
#EXTINF:-1,osn_ Movies Action  2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/132.ts
#EXTINF:-1,osn_ Family TV
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/127.ts
#EXTINF:-1,osn_ Extrema TV
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/131.ts
#EXTINF:-1,osn_ -Yahal-Cinema-hd
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/129.ts
#EXTINF:-1,osn_  Tilesport
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/126.ts
#EXTINF:-1,OSN: YaHala Drama
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/93.ts
#EXTINF:-1,Osn: Yahala Cinema.
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/78.ts
#EXTINF:-1,OSN: Yahala Al Oula
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/91.ts
#EXTINF:-1,Osn: Ya Hala Al Oula  2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/76.ts
#EXTINF:-1,Osn: Ya Hala Al Oula
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/75.ts
#EXTINF:-1,OSN Comedy HD
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/110.ts
#EXTINF:-1,Osn: Ya Hala
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/74.ts
#EXTINF:-1,OSN: Star World India
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/90.ts
#EXTINF:-1,Osn: Star world
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/73.ts
#EXTINF:-1,OSN: Star Movies India
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/89.ts
#EXTINF:-1,OSN: Star Movies
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/87.ts
#EXTINF:-1,OSN: Star Gold
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/88.ts
#EXTINF:-1,Osn: Series First
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/72.ts
#EXTINF:-1,Osn: SeeVii Shamiya
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/70.ts
#EXTINF:-1,Osn: SeeVii Drama
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/69.ts
#EXTINF:-1,Osn: SeeVii Al Aoula
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/67.ts
#EXTINF:-1,OSN: OSN Series
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/96.ts
#EXTINF:-1,Osn: ORBIT CINEMA 1
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/65.ts
#EXTINF:-1,OSN: ON DEMAND EXTRA 3
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/105.ts
#EXTINF:-1,OSN: ON DEMAND EXTRA 1
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/103.ts
#EXTINF:-1,OSN: ON DEMAND 3
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/101.ts
#EXTINF:-1,OSN: ON DEMAND 2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/100.ts
#EXTINF:-1,Osn: Movies Thriller
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/64.ts
#EXTINF:-1,Osn: Movies Star
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/62.ts
#EXTINF:-1,OSN: Movies Premiere plus 2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/85.ts
#EXTINF:-1,Osn: Movies Premiere
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/61.ts
#EXTINF:-1,Osn: Movies Premier  2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/60.ts
#EXTINF:-1,Osn: Movies Kids.
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/59.ts
#EXTINF:-1,OSN: Movies First  2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/83.ts
#EXTINF:-1,OSN: Movies First
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/82.ts
#EXTINF:-1,Osn: Movies Festival.
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/57.ts
#EXTINF:-1,OSN: Movies Drama
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/80.ts
#EXTINF:-1,OSN: Movies Comedy Plus 2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/81.ts
#EXTINF:-1,Osn: Movies Comedy
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/54.ts
#EXTINF:-1,OSN: Movies Action 2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/79.ts
#EXTINF:-1,Osn: Movies Action  2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/53.ts
#EXTINF:-1,Osn: Movies Action
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/52.ts
#EXTINF:-1,Osn: Imagine Movies
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/49.ts
#EXTINF:-1,OSN: Cinema 2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/95.ts
#EXTINF:-1,OSN: Cinema 1
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/94.ts
#EXTINF:-1,OSN: Box Office 2
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/98.ts
#EXTINF:-1,OSN: Box Office 1
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/97.ts
#EXTINF:-1,Osn: Al Safwa
http://iptv.madridista3arab.ml:25461/live/madridistauser108/ds8ehu3mol/47.ts
