#EXTM3U
#EXTINF:-1,### Fårøk Wlįd Dzärgâ ###

#EXTINF:-1,VIP AR: BEIN SPORT 1HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/3.ts
#EXTINF:-1,VIP AR: BEIN SPORT 2HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/2.ts
#EXTINF:-1,VIP AR: BEIN SPORT 3HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/1.ts
#EXTINF:-1,VIP AR: Bein Sport HD4
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/9.ts
#EXTINF:-1,VIP AR: Bein Sport HD5
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/8.ts
#EXTINF:-1,VIP AR: Bein Sport HD6
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/7.ts
#EXTINF:-1,VIP AR: Bein Sport HD7
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/6.ts
#EXTINF:-1,VIP AR: Bein Sport HD8
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/5.ts
#EXTINF:-1,VIP AR: Bein Sport HD9
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/4.ts
#EXTINF:-1,BEIN SPORTS 10 HD HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/10.ts
#EXTINF:-1,BEINSPORT-1 SD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/13.ts
#EXTINF:-1,BEINSPORT-2 SD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/12.ts
#EXTINF:-1,BEINSPORT-3 SD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/11.ts
#EXTINF:-1,BEINSPORTS 4SD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/19.ts
#EXTINF:-1,BeinSport-5 SD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/18.ts
#EXTINF:-1,BeinSport-6 SD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/17.ts
#EXTINF:-1,BeinSport-7 SD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/16.ts
#EXTINF:-1,BeinSport-8 SD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/15.ts
#EXTINF:-1,BEINSPORT  9 SD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/14.ts
#EXTINF:-1,BeinSports 1 LOW
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/22.ts
#EXTINF:-1,BeinSports 2 LOW
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/21.ts
#EXTINF:-1,BeinSports 3 LOW
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/20.ts
#EXTINF:-1,AR:BEIN_SPORTS 4 Low
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/25.ts
#EXTINF:-1,AR:BEINSPORTS 5 Low
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/24.ts
#EXTINF:-1,AR:BEIN_SPORTS_6Low
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/28.ts
#EXTINF:-1,AR:BEINSPORTS 7 Low
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/23.ts
#EXTINF:-1,AR:BEIN_SPORTS_8Low
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/27.ts
#EXTINF:-1,AR:BEIN_SPORTS_9Low
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/29.ts
#EXTINF:-1,AR:BEIN_SPORTS_10Low
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/26.ts
#EXTINF:-1,BEIN MOVIES 1
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/111.ts
#EXTINF:-1,BEIN MOVIES 2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/112.ts
#EXTINF:-1,BEIN MOVIES 3
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/113.ts
#EXTINF:-1,BEIN MOVIES 4
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/114.ts
#EXTINF:-1,beIN: Fox Movie HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/121.ts
#EXTINF:-1,BeIN: AMC
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/119.ts
#EXTINF:-1,FR: BEIN SPORT1 HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/139.ts
#EXTINF:-1,FR: BEIN SPORT2 HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/140.ts
#EXTINF:-1,-----  Ar : OSN -----
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/106.ts
#EXTINF:-1,osn_-Nat-Geo-Peopel-HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/124.ts
#EXTINF:-1,osn_ Yahala HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/122.ts
#EXTINF:-1,osn_ Yahala Cinema
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/123.ts
#EXTINF:-1,osn_ Sport4
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/128.ts
#EXTINF:-1,osn_ MOVIES DRAMA HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/130.ts
#EXTINF:-1,osn_ Movies Action  2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/132.ts
#EXTINF:-1,osn_ Family TV
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/127.ts
#EXTINF:-1,osn_ Extrema TV
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/131.ts
#EXTINF:-1,osn_  Tilesport
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/126.ts
#EXTINF:-1,OSN: YaHala Drama
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/93.ts
#EXTINF:-1,Osn: Yahala Cinema.
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/78.ts
#EXTINF:-1,OSN: Yahala Al Oula
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/91.ts
#EXTINF:-1,Osn: Ya Hala Al Oula  2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/76.ts
#EXTINF:-1,Osn: Ya Hala Al Oula
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/75.ts
#EXTINF:-1,OSN Comedy HD
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/110.ts
#EXTINF:-1,Osn: Ya Hala
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/74.ts
#EXTINF:-1,OSN: Star World India
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/90.ts
#EXTINF:-1,Osn: Star world
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/73.ts
#EXTINF:-1,OSN: Star Movies India
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/89.ts
#EXTINF:-1,OSN: Star Movies
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/87.ts
#EXTINF:-1,OSN: Star Gold
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/88.ts
#EXTINF:-1,Osn: Series First
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/72.ts
#EXTINF:-1,Osn: SeeVii Shamiya
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/70.ts
#EXTINF:-1,Osn: SeeVii Drama
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/69.ts
#EXTINF:-1,Osn: SeeVii Al Aoula
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/67.ts
#EXTINF:-1,OSN: OSN Series
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/96.ts
#EXTINF:-1,Osn: ORBIT CINEMA 1
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/65.ts
#EXTINF:-1,OSN: ON DEMAND EXTRA 3
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/105.ts
#EXTINF:-1,OSN: ON DEMAND EXTRA 1
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/103.ts
#EXTINF:-1,OSN: ON DEMAND 3
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/101.ts
#EXTINF:-1,OSN: ON DEMAND 2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/100.ts
#EXTINF:-1,Osn: Movies Thriller
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/64.ts
#EXTINF:-1,Osn: Movies Star
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/62.ts
#EXTINF:-1,OSN: Movies Premiere plus 2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/85.ts
#EXTINF:-1,Osn: Movies Premiere
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/61.ts
#EXTINF:-1,Osn: Movies Premier  2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/60.ts
#EXTINF:-1,Osn: Movies Kids.
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/59.ts
#EXTINF:-1,OSN: Movies First  2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/83.ts
#EXTINF:-1,OSN: Movies First
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/82.ts
#EXTINF:-1,Osn: Movies Festival.
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/57.ts
#EXTINF:-1,OSN: Movies Drama
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/80.ts
#EXTINF:-1,OSN: Movies Comedy Plus 2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/81.ts
#EXTINF:-1,Osn: Movies Comedy
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/54.ts
#EXTINF:-1,OSN: Movies Action 2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/79.ts
#EXTINF:-1,Osn: Movies Action  2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/53.ts
#EXTINF:-1,Osn: Movies Action
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/52.ts
#EXTINF:-1,Osn: Imagine Movies
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/49.ts
#EXTINF:-1,OSN: Cinema 2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/95.ts
#EXTINF:-1,OSN: Cinema 1
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/94.ts
#EXTINF:-1,OSN: Box Office 2
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/98.ts
#EXTINF:-1,OSN: Box Office 1
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/97.ts
#EXTINF:-1,Osn: Al Safwa
http://iptv.madridista3arab.ml:25461/live/Madridista3arab100/f60PB53VL6/47.ts
